*,
*
*::before,
::after{
    box-sizing: border-box;
    margin: 0;
    background-color: #00ff73;
}

body{
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    }

    nav ul{
        list-style: none;
        display: flex;
        gap: 4rem;
    }
    .ProDetails{
        display: flex;
        border: 4px dashed #ccff00;
        padding: 10px;
        border-radius: 25px;
        background-color: #00ffb3;
    }
    .AboutMe{
        display: flex;
    }

    .Tech{
        display: flex;
        background-color: #00ff33;
        text-emphasis-color: #3300ff;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 30rem;
    }
    .Tdetails{
        display: flex;                   
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        
    }