*,
*
*::before,
::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 4rem;
    }
    .Tech{
background: color #00ffb3;
min-height: 8rem;
    }
    