*,
*
*::before,
::after{
    box-sizing: border-box;
    margin: 0;
    
}
.hero{
background-image: url(https://media.licdn.com/dms/image/D4E16AQG8Ea26uqNFpg/profile-displaybackgroundimage-shrink_350_1400/0/1692131446340?e=1697673600&v=beta&t=KuHHqCLaqnN1QLc5uwaTSdKZqzvKfxARooKx4ofuDZU);
min-height: 30rem;
color: #6e1db5;
}
body{
    min-height: 100vh;
    background-color: #ffdae0;
    color: black;
}
.img-Container{
    display: flex;
    border: #d5e0ed;
    border: radius 55px;
    height: 25px;
    width: 17px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: unset;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

    nav ul{
        list-style: none;
        display: flex;
        gap: 4rem;
        flex-direction: column;
        align-self: flex-end;
        flex-wrap: wrap;
        align-items: center;
    }
    .nav-Container{
        display: flex;
        align-self: right;
    }
    .img-Container{
        display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-self: center;
    
    }
    .Section2{
         

    }
    .ProDetails{
        display: flex;
        border: 4px dashed #d5e0ed;
        padding: unset;
        max-width: unset;
        border-radius: 25px;        
        flex-wrap: wrap;
        
    }
    .AboutMe{
        display: flex;
        border: 4px solid #d5e0ed;
        max-width: 650px;
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
        max-width: 30rem;
    }

    .Tech{
        display: flex;
                
        flex-wrap: wrap;
        justify-content: center;
        max-width: 30rem;
    }
    .Tdetails{
        display: flex;                   
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;   
                
        max-width: 30rem;
        
    }